#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sr)
VERSION = __VERSION__
PACKAGEVERSION = $(VERSION)

%:
	dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	make
	make install DESTDIR=debian/lume

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
